# -----------------------------------------
# CREDENCIAIS / VARIÁVEIS DE AMBIENTE
# -----------------------------------------

.env
.env.*
*.env
!.env.example


# -----------------------------------------
# AMBIENTE VIRTUAL PYTHON
# -----------------------------------------

.venv/
venv/


# -----------------------------------------
# PYTHON
# -----------------------------------------

__pycache__/
*.py[cod]
*.so


# -----------------------------------------
# JUPYTER
# -----------------------------------------

.ipynb_checkpoints/


# -----------------------------------------
# VS CODE
# -----------------------------------------

.vscode/


# -----------------------------------------
# ARQUIVOS DO SISTEMA
# -----------------------------------------

.DS_Store
Thumbs.db


# -----------------------------------------
# LOGS
# -----------------------------------------

*.log